/*UNDER CONSTRUCTION LOLOLOLO*/

p{
	margin: 25px;
	  white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
	text-align: left;
	font-family:"Arial";
	font-size:18pt;
} 
h2{ margin: 25px; color:#1b1464; text-align: left;	font-size:25pt;	font-family: Impact;
}
h1{
	margin: 25px; color:#1b1464; text-align: left;	font-size: x-large;	font-family: Impact;
}
banner{
	margin: 25px; color:white; text-align: left;	font-size: 45pt;	font-family: Impact;
}
a{
	font-size:12pt; text-align:center; font-family:"Times New Roman", Times, serif;
}
