/*UNDER CONSTRUCTION LOLOLOLO*/

p{
	text-align: center;
	font-family:"Arial";
	font-size:large;
} 
h2{ color:red; text-align: center;	text-decoration:underline;	font-size: xx-large;	font-family: Helvetica;
}
h1{
	color:orange; text-align: center;	text-decoration:underline;	font-size: x-large;	font-family: Helvetica;
}
