

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 20px 0;
	color: #666666;
	background-image: url('img/background.png');
}


h1, h2 {
	margin-top: 10px;

}



h2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #2C2E22;
}

	

ul {
	margin-top: 25px;
	line-height: 28px;
	font-size: 14pt;
}
.news p{
	line-height:35px;
	font-size:16pt;
	margin-top:30px;
}

a {
	text-decoration: none;
	color: #3C7BCF;
}



h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: white;
}


#header {
	width: 1140px;
	height: 35px;
	margin: 0 auto;
	background-color:brown;
	border:5px solid white;
	border-top:none;
	border-bottom:none;
	box-shadow: 0 -5px 1px 0 white;
}


#menu {

	float: left;
	box-shadow: 0 -5px 5px -5px white;
}

#menu ul {

	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	
	box-shadow: 2px 1px 2px 0px white;

}


#menu a {
	display: block;
	float: left;
	height: 25px;
	padding: 10px 20px 0 20px;
	font-size: 15;
	font-weight: bold;
	color: white;
}

#menu a:hover {
	background:  #ffffff;
	color: #2C2E22;
	transition: background-color .8s;
}

#menu .current_page_item a {
	background:  #ffffff;
	color: #2C2E22;
}

/* Logo */

#logo{
	width: 1140px;
	height: 200px;
	margin: 0 auto;
	background: url('img/logo.jpg') no-repeat;
	background-size:100% 100%;
	background-position:center; 
	height: 157px;
	border: 5px solid #ffffff;
}








#page {
	width: 1140px;
	margin: 0 auto;
	padding: 0px 0px 0 0px;
	background: #FFFFFF;
	border: 5px solid #ffffff;
	border-top: none;
}





#content {
	float: right;
	width: 845px;
	padding: 0px 0px 0px 10px;
}


.links {
	float: left;
}

.links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}







#links {
	float:left;
	width: 230px;
	padding: 0px 10px 10px 10px;
	background-color: white;
	box-shadow: 0 0 10px #ccc;
	
	color: #333;
	
}

#links li h2 {
	text-align:center;
	margin: 0 0 5px 0;
	text-color:#333333;
	padding: 5px 0  0 5px;
	height: 20px;
	
}


#links li li {
	border-top:1px solid #e3e3e3;
	padding: 5px;
	background-color:brown;
	font-size: 14pt;

}
#links li li:hover {
	background-color:white;
	transition: background-color .8s;
	box-shadow: 0 0 10px #ccc;


}

#links li li:hover a {
	color:#2C2E22;

}

#links li a {
	border: none;
	padding-left: 10px;
	color:white;
	
}



